In [1]:
import os

import DBcm

In [2]:
db_details = "CoachDB.sqlite3"

In [3]:
FOLDER = "swimdata/"

In [4]:
files = os.listdir(FOLDER)
files.remove(".DS_Store")

In [5]:
SQL_SELECT  = """ 
    select * from events
    where distance = ? and stroke = ?
"""

In [6]:
SQL_INSERT = """ 
    insert into events
        (distance, stroke)
    values
        (?, ?)
"""

In [7]:
with DBcm.UseDatabase(db_details) as db:
    for file in files:
        _, _, distance, stroke = file.removesuffix(".txt").split("-")
        db.execute(SQL_SELECT, (distance, stroke))
        if db.fetchall():
            continue
        db.execute(SQL_INSERT, (distance, stroke))

In [10]:
SQL_SELECT_ALL  = """ 
    select * from events
"""

In [11]:
with DBcm.UseDatabase(db_details) as db:
    db.execute(SQL_SELECT_ALL)
    results = db.fetchall()

for result in results:
    print(result)

(1, '100m', 'Back')
(2, '100m', 'Breast')
(3, '50m', 'Back')
(4, '50m', 'Breast')
(5, '50m', 'Free')
(6, '100m', 'Free')
(7, '200m', 'Back')
(8, '100m', 'Fly')
(9, '50m', 'Fly')
(10, '200m', 'IM')
(11, '200m', 'Breast')
(12, '200m', 'Free')
(13, '400m', 'Free')

In [12]:
with DBcm.UseDatabase(db_details) as db:
    db.execute("pragma table_info(times)")
    results = db.fetchall()

results

[(0, 'swimmer_id', 'INTEGER', 1, None, 0),
 (1, 'event_id', 'INTEGER', 1, None, 0),
 (2, 'time', 'varchar(16)', 1, None, 0),
 (3, 'ts', 'timestamp', 0, 'current_timestamp', 0)]