In [1]:
import DBcm

In [2]:
db_details = "CoachDB.sqlite3"

In [3]:
with DBcm.UseDatabase(db_details) as db:
    db.execute("pragma table_list")
    results = db.fetchall()

In [4]:
results

[('main', 'times', 'table', 4, 0, 0),
 ('main', 'events', 'table', 3, 0, 0),
 ('main', 'sqlite_sequence', 'table', 2, 0, 0),
 ('main', 'swimmers', 'table', 3, 0, 0),
 ('main', 'sqlite_schema', 'table', 5, 0, 0),
 ('temp', 'sqlite_temp_schema', 'table', 5, 0, 0)]

In [5]:
SQL = """
    select time()
"""

with DBcm.UseDatabase(db_details) as db:
    db.execute(SQL)
    results = db.fetchall()

results

[('13:46:01',)]

In [6]:
SQL = """
    select time()
"""

with DBcm.UseDatabase(db_details) as db:
    db.execute(SQL)
    results = db.fetchone()

print(results)

('13:46:01',)

In [7]:
SQL = """
    create table if not exists swimmers (
        id integer primary key autoincrement,
        name varchar(32) not null,
        age integer not null
    )
"""

with DBcm.UseDatabase(db_details) as db:
    db.execute(SQL)

In [8]:
with DBcm.UseDatabase(db_details) as db:
    SQL_1 = """
        create table if not exists swimmers (
            id integer primary key autoincrement,
            name varchar(32) not null,
            age integer not null
        )
    """
    SQL_2 = """
        create table if not exists events (
            id integer primary key autoincrement,
            distance varchar(16) not null,
            stroke varchar(16) not null
        )
    """
    SQL_3 = """
        create table if not exists times (
            swimmer_id  integer not null,
            event_id    integer not null,
            time        varchar(16) not null,
            ts timestamp   default current_timestamp
        )
    """
    db.execute(SQL_1)
    db.execute(SQL_2)
    db.execute(SQL_3)

In [9]:
with DBcm.UseDatabase(db_details) as db:
    db.execute("pragma table_list")
    results = db.fetchall()

results

[('main', 'times', 'table', 4, 0, 0),
 ('main', 'events', 'table', 3, 0, 0),
 ('main', 'sqlite_sequence', 'table', 2, 0, 0),
 ('main', 'swimmers', 'table', 3, 0, 0),
 ('main', 'sqlite_schema', 'table', 5, 0, 0),
 ('temp', 'sqlite_temp_schema', 'table', 5, 0, 0)]

In [10]:
fn = 'Abi-10-100m-Back.txt'
name, age, distance, stroke = fn.removesuffix(".txt").split("-")

In [11]:
print(name, age)

Abi 10

In [12]:
print(distance, stroke)

100m Back

In [13]:
import os

In [14]:
FOLDER = "swimdata/"

files = os.listdir(FOLDER)
files.remove(".DS_Store")

In [15]:
first = files[0]
print(first)
name, age, distance, stroke = first.removesuffix(".txt").split("-")
print(name, age)

Abi-10-100m-Back.txt
Abi 10

In [16]:
import DBcm

db_details = "CoachDB.sqlite3"

In [17]:
SQL_INSERT = """
    insert into swimmers
        (name, age)
    values
        (?, ?)
"""

In [18]:
with DBcm.UseDatabase(db_details) as db:
    db.execute(SQL_INSERT, (name, age))

In [19]:
SQL_SELECT = """
    select * from swimmers
"""

In [20]:
with DBcm.UseDatabase(db_details) as db:
    db.execute(SQL_SELECT)
    results = db.fetchall()

print(results)

[(1, 'Abi', 10)]

In [21]:
SQL_DELETE = """ 
    delete from swimmers
"""

In [22]:
with DBcm.UseDatabase(db_details) as db:
    db.execute(SQL_DELETE)

In [23]:
with DBcm.UseDatabase(db_details) as db:
    db.execute(SQL_SELECT)
    results = db.fetchall()

print(results)

[]