In [9]:
import os

import DBcm

In [10]:
db_details = "CoachDB.sqlite3"

In [11]:
FOLDER = "swimdata/"

In [12]:
files = os.listdir(FOLDER)
files.remove(".DS_Store")

In [23]:
SQL_SELECT_ALL  = """ 
    select * from swimmers
"""

In [16]:
SQL_SELECT  = """ 
    select * from swimmers
    where name = ? and age = ?
"""

In [17]:
SQL_INSERT = """ 
    insert into swimmers
        (name, age)
    values
        (?, ?)
"""

In [19]:
SQL_DELETE = """ 
    delete from swimmers
"""

In [21]:
with DBcm.UseDatabase(db_details) as db:
    for file in files:
        name, age, _, _ = file.removesuffix(".txt").split("-")
        db.execute(SQL_SELECT, (name, age))
        if db.fetchall():
            continue
        db.execute(SQL_INSERT, (name, age))

In [20]:
with DBcm.UseDatabase(db_details) as db:
    db.execute(SQL_DELETE)

In [25]:
with DBcm.UseDatabase(db_details) as db:
    db.execute(SQL_SELECT_ALL)
    results = db.fetchall()

for result in results:
    print(result)

(62, 'Abi', 10)
(63, 'Ali', 12)
(64, 'Alison', 14)
(65, 'Aurora', 13)
(66, 'Bill', 18)
(67, 'Blake', 15)
(68, 'Calvin', 9)
(69, 'Carl', 15)
(70, 'Chris', 17)
(71, 'Darius', 13)
(72, 'Dave', 17)
(73, 'Elba', 14)
(74, 'Emma', 13)
(75, 'Erika', 15)
(76, 'Hannah', 13)
(77, 'Katie', 9)
(78, 'Lizzie', 14)
(79, 'Maria', 9)
(80, 'Mike', 15)
(81, 'Owen', 15)
(82, 'Ruth', 13)
(83, 'Tasmin', 15)